.fb_logo{
    text-align: center;
    padding-top: 9rem;
}

.fb_h4{
    color:#fc7e17;
font-size: small;
padding-top: 2rem;
}

.fb_h1{
    color: #1E334E;
    font-weight: 600;
    font-size:900;
}
.fb_p{
    color: #1e334ed0;
font-size: medium;
}

.p1{
padding-top: 1rem;

}