.googleads{
    text-align: center;
    padding-top: 8rem;
}

.gah3{
    color: #F58120;        
    font-size: larger;
    padding-top: 2rem;
    font-weight: 600;
}

.gah1{
    color: #1E334E;
    font-size:40px;
}

.gah4{
    font-size: medium;
    color: #1e334ed2;
    font-size: 16px;
}

.f-line{
    padding-top: 7px;
}