.res_dropdown{
    display: none;
}

.resources:hover .res_dropdown{
    display: block;
}

.res_dropdown{
position: absolute;
color:white;
top:2rem;
background: #1a2c46;

}

.res_li:hover{
    background: #F58120;
}

.res_ul{
    padding-left: 0;
}

.res_li{
    padding: 1rem 1rem;
    transition: 0.2s;
    /* -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease; */

}

.rp:hover{
    -webkit-transition: all 1s ease-out;
    transition: all 1s ease; 
}